body {
  background-color: #25374e;
}

.container {
  background-color: #d9c5aa;
  border: 1px solid #d9c5aa;
  height: 28rem;
  overflow: scroll;
}
.container h1 {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
}

.provider-selected {
  background-color: #25374e;
  color: #fff;
}
.provider-row {
  border: 3px solid #25374e;
  margin-bottom: 0.3125rem;
  padding: 0.9375rem;
  transition: all .1s;
}

h2.provider-info {
  font-size: 1rem;
  font-weight: 300;
}

h1.main-heading, span.main-version {
  color: #fff
}
span.main-version {
  font-size: 0.85rem;
}