<section>
  <h1 class="main-heading">Find My Provider <span class="main-version">v0.1</span></h1>

  <section>
    <div id="directory" class="row">
      <div id="provider-create" class="columns small-12 medium-4 container">
        <h1>Create Provider</h1>
        <form id="create-provider" ng-submit="createProvider(provider)">
          <input id="last-name" type="text" placeholder="Last name" ng-model="provider.lastname" ng-required="true">
          <input id="first-name" type="text" placeholder="First name" ng-model="provider.firstname" ng-required="true">
          <input id="email-address" type="text" placeholder="Email address" ng-model="provider.emailaddress" ng-required="true">
          <input id="specialty-name" type="text" placeholder="Specialty" ng-model="provider.specialtyname">
          <input id="practice-name" type="text" placeholder="Practice name" ng-model="provider.practicename">
          <button id="submit" type="submit" class="success button">Create</button>
        </form>
      </div>
      <div id="provider-list" class="columns small-12 medium-7 container">
        <h1>Provider list</h1>
        <button type="button" class="alert button small" ng-if="showDelete" ng-click="deleteSelections()">Delete selections</button>
        <div id="provider-{{$index}}" class="row provider-row" ng-repeat="provider in providers" ng-click="selectProvider($index)">
          <div class="columns small-12 medium-12">
            <div class="row">
              <h2 class="provider-info">{{provider.specialty}}</h2>
              <p class="columns small-7">{{provider.first_name}} {{provider.last_name}} – {{provider.practice_name}}</p>
              <p class="columns small-5">{{provider.email_address}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>